
  <div class="row mt-4">
    <div class="col-8">
      <h3><%= prehead %></h3>
      <h1><%= title %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <h4><%= lead %></h4>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="card card-darkblue d-flex scenario-card big-card" style="height: 420px;background-image:url(<%= features[0].image %>);">
        <div class="w-50">
          <h6><span class="badge">1</span>How might we...</h6>
          <h1>Rent a book from the library with ease and privacy?</h1>
        </div>
        <div class="btn">Start</div>
      </div>
    </div>
  </div>
  <div class="row">
    <% for (var i =1; i <features.length; i++ ) { %>
      <div class="col-6 mt-2">
        <div class="card card-darkblue d-flex scenario-card" style="height:240px;background-image:url(<%= features[i].image %>);">
          <div class="w-50">
            <h6><span class="badge"><%= i+1 %></span>How might we...</h6>
            <h3><%= features[i].description %></h3>
          </div>
        </div>
      </div>
    <% } %>
  </div>

