<div class="row">
  <div class="col-5">
    <h1><%= title %></h1>
    <p><%= lead %></p>
    <div class="mt-3">
      <% for (var i =0; i <buttons.length; i++ ) { %>
        <button type="button" class="btn mr-1 <%= buttons[i].classes %>"><%= buttons[i].label %></button>
      <% } %>
    </div>
  </div>
  <div class="col-7">
    <ul class="list-group ai-options">
      <% for (var i =0; i <options.length; i++ ) { %>
        <li class="list-group-item">
          <div class="ai-option <%= (i == 0) ? "selected" : "" %> col">
            <div class="radio float-left"><i class="material-icons md-48 align-middle"><%= (i == 0) ? "radio_button_checked" : "radio_button_unchecked" %></i></div>
            <div class="avatar float-left"><i class="material-icons md-48 align-middle"><%= options[i].icon %></i></div>
            <div class="col">
              <h3><%= options[i].title %></h3>
              <p class=""><%= options[i].label %></p>
            </div>
          </div>
        </li>
      <% } %>
      
    </ul>    
  </div>
</div>